*.js
!jest.config.js
*.d.ts

# CDK asset staging directory
.cdk.staging
cdk.out

!website/assets/js/**
!lib/hello-lambda-handler/**
!lib/lambda-to-postgres/**
# must go after allowed lib files
node_modules
